*{
    margin: 0;
    padding: 0;
}
/*.k_top{
	width: 1263.33px;
	height: 120px;
	margin: 0 auto;
	}
.k_top a {
	width: 1263.33px;
	height: 120px;
	display: block;
	background: url(../img/开头.jpg) center 0px no-repeat;
	}*/
.site-topbar{
    width: 1263.33px;
    height: 40px;
    background-color: #333;
    font-size: 12px;
    color: #b0b0b0;
    margin: 0 auto;
}
.site-topbar a{
    color: #b0b0b0;
    text-decoration: none;
}
.site-topbar a:hover{
    color: white;
}
.site-topbar2{
    width: 1226px;
    height: 40px;
    margin: 0 auto;
}
.site-topbar2:after{
    content: '';
    display: block;
    clear: both;
}
.k_contain{
    width: 491.23px;
    height: 40px;
    line-height: 40px;
    list-style: none;
    float: left;
}
.k_contain li{
    display: inline-block;
    height: 40px;
    margin-right: 1.5px;
}
.k_shopcar{
    float: right;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.k_shopcar a{
    display: block;
    width: 120px;
    height: 40px;
    background: #424242 url(../img/购物png.png) 10px 12px no-repeat;
    background-size: 20px 20px;
}
.k_shopcar a:hover{
    color: #ff6700;
    background: white url(../img/购物.png) 10px 12px no-repeat;
    background-size: 20px 20px;

}
.topbar_info ul li{
    list-style: none;
    float: right;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
}
.topbar_info ul{
    margin-right: 100px;
}
.topbar_info ul:after{
    content: '';
    display: block;
    clear: both;
}
.k_site-header{
    position: relative;
    width: 1263.33px;
    height: 100px;
    margin: 0 auto;
}
.container{
    position: relative;
    width: 1226px;
    /*height: 100px;*/
    /*border: #FF6700 1px solid;*/
    margin: 0 auto;
}
.container:after{
    content: '';
    display: block;
    clear: both;
}
.img-logo{
    width: 55px;
    height: 55px;
    float: left;
    margin-top: 22px;
}
.k_header_nav{
    float: left;
    /*position: relative;*/
    /*border: aqua 1px solid;*/
    width: 850px;
    /*height: 100px;*/
    /*margin-left: 160px;*/
}
.nav_list{
    /*position: relative;*/
    /*z-index: 10;*/
    float: left;
    width: 820px;
    height: 88px;
    padding: 12px 0 0 30px;
    list-style-type: none;
    font-size: 16px;
}
.nav_list:after{
    content: '';
    display: block;
    clear: both;
}

.nav_list li{
    float: left;
}
.nav_list>li>a{
    display: block;
    padding: 26px 10px 38px;
    color: #333;
    text-decoration: none;
}
.nav_list>li>a:hover{
    color: #FF6700;
}
.k_list_c{
    position: relative;
    float: left;
    width: 127px;
    padding-right: 15px;
}
.k_list_c .k_spical{
    /*visibility: hidden;*/
    display: block;
    padding: 26px 0 38px;
    text-align: right;
    color: #333;
}
.nav_list li a:hover{
    color: #FF6700;
}
.search_form{
    float: right;
    margin-top: 25px;
    width: 296px;
    height: 50px;
    border: 1px solid #e0e0e0;
    /*border: orangered 1px solid;*/
    position: relative;
}
.search_form input[type="search"]{
    width: 296px;
    height: 50px;

}
.search_form input[type="button"]{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #e0e0e0;
    background-color: white;
}
.search_words{
    width: 124px;
    height: 20px;
    position: absolute;
    top: 14px;
    right: 62px;
}
.search_words a{
    display: inline-block;
    /*margin-left: 5px;*/
    padding: 0 5px;
    font-size: 12px;
    background-color: #eee;
    color: #757575;
    text-decoration: none;
}
.search_words a:hover{
    background-color: #FF6700;
    color: white;
}
.k_navMenu{
    display: none;
    height: 229px;
    position: absolute;
    top: 100px;
    left: -1px;
    z-index: 24;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    background: #fff;
    box-shadow: 0 3px 4px rgba(0,0,0,0.18);
}
.nav_list_child{
    list-style: none;
    font-size: 12px;

}
.nav_list_child:after{
    content: '';
    display: block;
    clear: both;
}
.nav_list_child li{
    position: relative;
    float: left;
    width: 180px;
    padding: 35px 12px 0;
    text-align: center;
}
.nav_list_child .k_first~li:before{
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 1;
    width: 1px;
    height: 100px;
    content: "";
    background-color: #e0e0e0;
}
.k_figur-img-c{
    width: 160px;
    height: 110px;
    margin: 0 auto 16px;
    text-align: center;
}
.k_figur-img-c img{
    width: 160px;
    height: 110px;
}
.k_flags{
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    width: 100%;
    font-size: 12px;
    text-align: center;
}
.k_flag{
    display: inline-block;
    height: 18px;
    padding: 1px 20px;
    border: 1px solid #ff6700;
    color: #ff6700;
}
.titles{
    margin: 0 20px 3px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
.titles a{
    color: #212121;
    text-decoration: none;
}
.price{
    text-align: center;
}
.price span{
    color: #ff6709;
}
.k_contain_list{
    position: absolute;
    top: 88px;
    left: -86px;
    z-index: 1;
    width: 234px;
    height: 460px;
    font-size: 14px;
    border: #FF6700 2px solid;
    display: none;

}
.k_list{
    background: white;
    /*width: 234px;*/
    height: 420px;
    /*border: 1px green solid;*/
    list-style: none;
    /*display: inline-block;*/
    padding: 20px 0;
    font-size: 14px;
    font-weight: 400;
}
.k_list>li{
    width: 234px;
    height: 42px;


}
.k_list>li>a{
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
    color: black;
    text-decoration: none;
}
.k_list>li>a:hover{
    background-color: #FF6700;
    color: white;
}
.k_children-list{
    width: 992px;
    display: none;
    position: absolute;
    z-index: 24;
    left: 234px;
    top: 0;
    height: 458px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}
.k_children-list:after{
    content: '';
    display: block;
    clear: both;
}
.k_children-list ul{
    width: 248px;
    float: left;
    height: 458px;
    padding: 2px 0;
    list-style: none;
}
.k_children-list ul:after{
    content: '';
    display: block;
    clear: both;
}
.k_children-list ul li{
    position: relative;
    float: left;
    width: 248px;
    height: 74px;
    font-size: 14px;

}
.k_children-list ul li a{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    display: block;
    padding: 18px 20px;
    line-height: 42px;
    color: #333;
}
.k_children-list ul li a:hover{
    background-color: #fff;
    color: #ff6700;
}
.k_children-list ul li a img{
    margin-right: 12px;
    vertical-align:middle;
    width: 40px;
    height: 40px;
    line-height: 40px;
}


.k_site-footer{
    width: 1226px;
    /*height: 272px;*/
    margin: 0 auto;
    /*border: 1px blue solid;*/
    /*padding: 27px 0;*/

}
.footer_contain{
    width: 1226px;
    height: 80px;
    border-bottom: 1px solid black;
}
.k_site-footer ul{
    width: 1226px;
    list-style: none;
    padding: 27px 0;

}

.k_site-footer ul li{
    font-size: 16px;
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;

}
.k_site-footer ul li:nth-of-type(1){
    border-left: none;
}
.k_site-footer ul li a{
    color:#757575;
    text-decoration: none;
}
.k_site-footer ul li a:hover{
    color: #FF6700;
}
.k_site-footer ul li img{
    width: 35px;
    height: 29px;
    vertical-align: middle;
}
.k_foot_links{
    width: 1226px;
    height: 110px;
    padding: 40px 0;
    /*border:1px solid red;*/

}
.k_foot_links dl{
    width: 160px;
    height: 112px;
    float: left;
    margin: 0;
}
.k_foot_links dl dt{
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.k_foot_links dl dd{
    font-size: 12px;
    margin: 10px 0 0;
}
.k_foot_links a{
    color:#757575;
    text-decoration: none;
}
.k_foot_links a:hover{
    color: #FF6700;
}
.k_foot_links dl:nth-of-type(7){
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}
.k_foot_links dl:nth-of-type(7) dt{
    display: block;
    margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.k_foot_links dl:nth-of-type(7) dd{
    margin: 0 0 16px;
    font-size: 12px;
}
.k_foot_links dl:nth-of-type(7) a{
    display: inline-block;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    border: 1px #ff6700 solid;
    background: #fff;
    color: #ff6700;
}
.k_foot_links dl:nth-of-type(7) a:hover{
    color: #fff;
    background-color: #f25807;
    border-color: #f25807;
}
.k_site-info{
    width: 1226px;
    height: 106px;
    padding: 30px 0;
    font-size: 12px;
    /*border: mediumvioletred 1px solid;*/
    background-color: #fafafa;
    margin: 0 auto;
}
.k_site-info-container{
    width: 1226px;
    height: 57px;
    /*border: greenyellow 1px solid;*/
}
.k_site-info-container:after{
    content: '';
    display: block;
    clear: both;
}
.info_logo{
    float: left;
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background:url(../img/logo-footer.png) no-repeat 50% 50%;
}
.k_site-info .k_info-text{
    margin-top: 2PX;
    float: left;
    color: #b0b0b0;
}
.k_site-info:after{
    content: '';
    display: block;
    clear: both;
}
.k_info-text p:nth-of-type(2){
    line-height: 18px;
}
.k_site-info a{
    color: #b0b0b0;
    text-decoration: none;
}
.k_site-info a:hover{
    color: #FF6700;
}
.k_site-info .sites a{
    color: #757575;
}
.k_site-info .sites a:hover{
    color: #FF6700;
}
.k_info_links img{
    width: auto;
    height: 28px;
}
.k_info_links{
    float: right;
}
.k_slogan{
    clear: both;
    margin: 30px auto 0;
    width: 267px;
    height: 19px;
    background: url(../img/slogan2016.png) no-repeat center 0;
}

.k_breadcrumbs{
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background: #f5f5f5;
    color: #616161;
}
.k_container{
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
.k_breadcrumbs a{
    text-decoration: none;
    color:#757575;
}
.k_breadcrumbs .sep{
    margin: 0 0.5em;
    color: #b0b0b0;
    font-family: sans-serif;
}
.contend{
    padding: 20px 0 100px;
    background: #f5f5f5;
}

.k_filter-box{
    font-size: 14px;
    padding: 18px 0;
}

.k_filter-list{
    position: relative;
    border-top: 1px solid #e0e0e0;
}
.k_filter-list:first-child{
    border-top: 0;
}
.k_filter-row{
    overflow: hidden;
    transition: height 0.3s ease-in;
    position: relative;
    padding-left: 70px;
    min-height: 45px;
    margin: 0;
}
.k_filter-row:after{
    content: '';
    display: block;
    clear: both;
}
.k_filter-row dt{
    position: absolute;
    left: 0;
    top: 11px;
    width: 72px;
    color: #b0b0b0;
}
.k_filter-row dd{
    width: 172px;
    padding: 12px 0;
    float: left;
    margin: 0;
}
.k_filter-row a{
    text-decoration: none;
    color: #424242;
}
.k_filter-list .more{
    position: absolute;
    right: 0;
    top: 10px;
    height: 24px;
    line-height: 24px;
    color: #757575;
    text-decoration: none;
    cursor: pointer;
}
.active{
    color: #ff6700;
}
.k_filter-row a:hover{
    color: #ff6700;
}
.order_list-box{
    height: 20px;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    zoom: 1;
}
.order_list-box:after{
    content: '';
    display: block;
    clear: both;
}
.order_list{
    float: left;
    height: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.order_list li{
    float: left;
    padding: 0 30px;
    border-left: 1px solid #e0e0e0;
    line-height: 20px;
}
.order_list li a{
    color: #424242;
    transition: color 0.2s;
    text-decoration: none;
}
.order_list li a:hover{
    color:#ff6700;
}
.order_list .active-list{
    padding-left: 0;
    border-left: 0;
}
.active-list a{
    text-decoration: none;
    color: #ff6700;
}
.type_list{
    float: right;
    height: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.type_list li{
    float: left;
    margin-left: 30px;
}
.type_list li a{
    color: #424242;
    transition: color 0.2s;
    text-decoration: none;
}
.type_list li a:hover{
    color:#ff6700;
}
.checkbox{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    vertical-align: -2px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}
.goods_list-box{
    width:1226px;
}
.goods_list{
    width: 1240px;
    margin: 0;
    list-style-type: none;
}
.goods_list:after{
    content: '';
    display: block;
    clear: both;
}
.goods-item{
    position: relative;
    float: left;
    width: 296px;
    height: 383px;
    padding-top: 47px;
    margin-right: 14px;
    margin-bottom: 14px;
    text-align: center;
    background: #fff;
    transition: box-shadow 0.7s linear;
}
.goods-item:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0 15px 15px rgba(0,0,0,0.5);

}
.figure-img{
    width: 200px;
    height: 200px;
    margin: 0 auto 16px;
}
.figure-img a{
    display: block;
    color: #757575;
    text-decoration: none;
}
.figure-img img{
    width: 200px;
    height: 200px;
}
.desc{
    margin: 0 0 3px;
    height: 18px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #b0b0b0;
}
.titles{
    margin: 0 0 3px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.titles a{
    color: #424242;
    text-decoration: none;
}
del{
    color: #b0b0b0;
}
.thumbs{
    width: 100%;
    height: 36px;
    overflow: hidden;
}
.thumbs .thumbs-list{
    list-style-type: none;
}
.thumbs .thumbs-list li{
    display: inline-block;
    width: 34px;
    height: 34px;
    margin: 0 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    transition: border-color 0.2s linear;
}
.thumbs .thumbs-list li a{
    text-decoration: none;
    color: #757575;
}
.thumbs-list li a img{
    width: 34px;
    height: 34px;
}
.action:after{
    content: '';
    display: block;
    clear: both;
}
.action .like{
    left: 20px;
    position: absolute;
    top: 20px;
    z-index: 3;
    height: 24px;
    padding: 3px 4px;
    font-size: 12px;
    color: #424242;
    opacity: 0;
    transition: all 0.2s linear;
    text-decoration: none;
}
.action span{
    opacity: 0;
    transition: opacity 0.2s linear;
}
.icon{
    font-size: 24px;
    line-height: 24px;
    vertical-align: -5px;
    color: #424242;
}
.action .buy{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    height: 24px;
    padding: 3px 4px;
    font-size: 12px;
    color: #424242;
    opacity: 0;
    transition: all 0.2s linear;
    text-decoration: none;
}
.flags{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    max-height: 40px;
    font-size: 12px;
    text-align: left;
    overflow: hidden;
}
.flag{
    background-color: #e53935;
    height: 18px;
    padding: 1px 20px;
    color: #fff;
}
.flag2{
    background-color: #2196f3;
    height: 18px;
    padding: 1px 20px;
    color: #fff;
}
.goods-item .k_prices{
    font-size: 13px;
    margin: 0 0 15px;
    color: #ff6700;
}
.goods-item .k_prices del{
    font-size: 13px;
}
.order_list{
    font-size: 14px;
}
.type_list{
    font-size: 14px;
}
.k_filter-box .box-hd{
    padding: 15px 0 23px;
    color: #424242;
}
.k_filter-box .box-hd h3{
    margin: 0 0 12px;
    font-size: 20px;
    font-weight: 400;
}
.ktitles .keyword{
    color: #ff6700;
}
.k_filter-box .box-hd .tips{
    margin: 0 0 20px;
}
.box-hd a{
    cursor: pointer;
    color: #ff6700;
    text-decoration: none;
}
.seps{
    color: #b0b0b0;
    margin: 0 .25em;
    font-family: sans-serif;

}
.xm-pagenavi{
    height: 30px;
    padding: 15px 0;
    text-align: center;
}
.numbers-i{
    font-size: 24px;
    vertical-align: bottom;
    display: inline-block;
    width: 48px;
    height: 24px;
    padding: 3px 0;
    margin: 0 7px;
    font-weight: 200;
    line-height: 24px;
    color: #b0b0b0;
    text-decoration: none;
}
.numbers-i:hover{
    background: #b0b0b0;
    color: #fff;
}
.checkbox .icon{
    display: none;
}