*{
	padding: 0px;
	margin: 0px;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}

.M_page-main{
	padding: 38px 0;
	background: #f5f5f5;
}
.M_container{
	width: 1226px;
	margin-right: auto;
	margin-left:auto ;
}
.M_section{
	padding: 30px 48px;
    margin-bottom: 30px;
    background-color: #fff;
    color: #424242;
}
.M_cash{
	height: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 18px;
}
.M_payment-box{
	margin-bottom: 30px;
}
.M_payment-box img{
	margin-left: -10px;
}
.M_payment-header{
	margin-bottom: 15px;
}
.M_payment-header h3{
	float: left;
    font-size: 16px;
    color: #616161;
}
.M_payment-header span{
	float: left;
    margin-left: 10px;
    margin-top: 6px;
    font-size: 12px;
    color: #b0b0b0;
}
.M_payment-header:after{
	content: '';
	display: block;
	clear: both;
}
.M_payment-body:after{
	content: '';
	display: block;
	clear: both;
}
.M_payment-body ul{
	margin: 0 0 0 -14px;
    padding: 0;
    overflow: hidden;
    margin-bottom: -1px;
}
.M_payment-body ul li{
	float: left;
    width: 174px;
    height: 60px;
    line-height: 60px;
    margin-left: 14px;
    margin-bottom: 14px;
    border: 1px solid #e0e0e0;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition: all .4s;
}

.M_payment-body ul li:hover{
	border-color: orangered;
}
.M_event{
	width: 894px;
    background-color: #fafafa;
    padding: 20px;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    line-height: 2;
    position: relative;
}
.M_event a{
	position: absolute;
    right: 20px;
    bottom: 20px;
    color: #757575;
    
}
.M_event a:hover{
	color: orangered;
}
.M_section{
	padding: 30px 48px;
    margin-bottom: 30px;
    background-color: #fff;
    color: #424242;
}
.M_tab-container{
	overflow: hidden;
}
.M_tab-content{
	padding-top: 30px;
    margin-left: -20px;
    border-top: 1px solid #e0e0e0;
    overflow: hidden;
}
.M_isinstalment-item{
	height: 150px;	
	float: left;
    width: 303px;
    padding: 20px 30px;
    margin-left: 20px;
    background-color: #fafafa;
}
.M_item-header{
	padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}
.M_item-header h3{
	margin-bottom: 5px;
	font-weight: normal;
	font-size: 18px;
	color: #ff6700;
}
.M_item-footer{
	text-align: center;
}
.M_item-footer a{
    color: #ff6700;
	display: inline-block;
    width: 158px;
    height: 38px;
    border: 1px solid #ff6700;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    transition: all .4s;
}
.M_isinstalment-desc{
	clear: left;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 12px;
    color: #b0b0b0;
}


/*微信支付提示框*/
.M_modal{
	top: 50%;
	opacity: 1;
	width: 370px;
    height: 440px;
    margin-top: -220px;
    margin-left: -185px;
    position: fixed !important;
    left: 50%;
    z-index: 1050;
    background-color: #fff;

}
.M_modal-hd{
	position: relative;
    height: 32px;
    padding: 14px 20px;
    background-color: #f5f5f5;
}
.M_modal-hd span{
	margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #424242;
}
.M_modal-hd img{
	position: absolute;
    top: 14px;
    right: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #757575;
    cursor: pointer;
    transition: all .2s;
    z-index: 10;
    border-radius: 15px;
}
.M_modal-hd a img{
	font-size: 24px;
    font-weight: 200;
    vertical-align: middle;
    
}
.M_modal-hd a img:hover{
	border-radius: 50%;
}
.M_modal-bd{
	height: 360px;
    padding: 0 40px;
    position: relative;
    text-align: center;
}
.M_modal-bd .M_code{
	height: 290px;
	margin-bottom: 20px;
}
.M_modal-bd .M_code img{
	margin-top: 30px;
}
.M_msg span{
	color: #ff6700;
    cursor: pointer;
}

/*支付提示框*/
.M_moda2{
	top: 50%;
	opacity: 1;
	width: 496px;
    height: 358px;
    margin-left: -248px;
    margin-top: -200px;
    box-shadow: 0 15px 20px rgba(0,0,0,0.15);
    position: fixed !important;
    left: 50%;
    z-index: 1050;
    background-color: #fff;
    outline: none;
    display: block;
}
.M_modal-header{
	position: relative;
    height: 32px;
    padding: 14px 20px;
    background-color: #f5f5f5;
}
.M_modal-header h3{
	margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #424242;
}
.M_modal-header img{
	position: absolute;
    top: 14px;
    right: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #757575;
    cursor: pointer;
    transition: all .2s;
    z-index: 10;
    border-radius: 15px;
}
.M_modal-body{
	background: url(../img/M_mitu.PNG)no-repeat;
	height: 277px;
	position: relative;
	left: 50px;
	top:40px;
}
.M_success{
	width: 156px;
    margin-top: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    float: right;
    margin-right: 100px;
}
.M_modal-body h4{
	margin: 0 0 10px;
    font-size: 18px;
    font-weight: normal;
    color: #757575;
}
.M_modal-body p a{
	color: #ff6700;
}
.M_fail{
	position: relative;
	left: 240px;
	top: 120px;
}
.m_bg {
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0.3;
	display: none;
}