* {
	margin: 0px;
	padding: 0px;
	font-family: "pricefont", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", "F9244e",sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

body {
	background-color: #f5f5f5;
}
/*****************************************	头部 		**********************************************************/
.y_first_root {
	width: 1583px;
	margin: 0 auto;
}
/*****************************************	头部 第1部分	**********************************************************/
/*****************************************	中间主体部分	**********************************************************/

.y1_sec_root {
	width: 1583px;
	margin: 0 auto;
}
/*****************************************	主体第1部分		**********************************************************/
.y1_sec_1 {
	width: 1583px;
	height: 65px;
	margin: 0 auto;
}
/*****************************************	主体第1部分	第1段	**********************************************************/
.y1_sec_1_1 {
	width: 1583px;
	height: 65px;
	background-color: #fff;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.07);
    position: relative;
    z-index: 4;
}
.y1_sec_1_1 div{
	width: 1226px;
	height: 65px;
	line-height: 65px;
	margin: 0 auto;
}
.y1_sec_1_1:after{
	content: '';
	display: block;
	clear: both;
}
.y1_sec_1_1 ul:first-child{
	width: 600px;
	height: 63px;
	float: left;
}
.y1_sec_1_1 ul  a{
	width: 600px;
	height: 63px;
	color: #616161;
	font-size: 12px;
}
.y1_sec_1_1 ul:first-child li{
	height: 14px;
	line-height: 14px;
	display: inline-block;
	color: #616161;
}
.y1_sec_1_1 ul:first-child  a:hover{
	color: #ff6700;
}
.y1_sec_1_1 ul:first-child li:nth-of-type(1){
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    color: #212121;
}
.y1_sec_1_1 ul:last-child{
	width: 600px;
	height: 63px;
	float: right;
	text-align: right;
}
.y1_sec_1_1 ul:last-child li{
	height: 14px;
	line-height: 14px;
	display: inline-block;
	color: #e0e0e0;
}
.y1_sec_1_1 ul:last-child li a{
	color: #616161;
	font-size: 14px;
}
.y1_sec_1_1 ul:last-child  a:hover{
	color: #ff6700;
}
.y1_sec_1_1 ul:last-child li:nth-of-type(1) a{
	color: #ff6700;
}
.y1_sec_1_1 ul:last-child li:nth-of-type(7) {
	width: 118px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    background: #ff6700;
}
.y1_sec_1_1 ul:last-child li:nth-of-type(7):hover {
	background-color: #f25807;
}
.y1_sec_1_1 ul:last-child li:nth-of-type(7) a{
	display: inline-block;
	width: 118px;
    height: 28px;
    text-align: center;
    line-height: 28px;
	color: white;
}
/*****************************************	主体第1部分	第2段	**********************************************************/
.y1_sec_1_2 {
    position: fixed;
    top: 0px;
    z-index: 999;
    display: none;
    box-shadow: none;
    border-bottom: none;
}

/*****************************************	主体第1部分	第2段		**********************************************************/

.y1_sec_2 {
	width: 1583px;
	height: 1100px;
	background: url(../img/y1_sec_1_1_1.jpg) no-repeat center top;
	background-size: cover;
	overflow: hidden;
}
.y1_sec_2_1 {
	width: 1226px;
	margin: 0 auto;
}
.y1_sec_2_1 ul {
	width: 1226px;
	height: 771px;
	margin-top: 100px;
	position: relative;
}
.y1_sec_2_1 li{
	width: 1226px;
	text-align: center;
	color: white;
}
.y1_sec_2_1 li:nth-of-type(1){
	font-size: 60px;
    line-height: 80px;
    opacity: 0;
    position: absolute;
    animation: my_move 3s;
	animation-fill-mode: forwards;
}
.y1_sec_2_1 li:nth-of-type(2){
	/*margin: 20px 0px 30px;*/
    font-size: 24px;
    opacity: 0;
    position: absolute;
    animation: my_move1 3s;
	animation-fill-mode: forwards;
}
.y1_sec_2_1 li:nth-of-type(3){//54
    font-size: 20px;
    position: absolute;
    top: 246px;
}
.y1_sec_2_1 li:nth-of-type(3) span:first-child{
    font-size: 36px;
    color: white;
    font-family: 'Avenir';
}
.y1_sec_2_1 li:nth-of-type(3) span:last-child{
    font-size: 20px;
    color: white;
    font-family: 'Avenir';
    text-decoration: line-through;
}
.y1_sec_2_1 li:nth-of-type(4){
    color: #ccc;
    font-size: 12px;
    position: relative;
    top: 750px;
}
@keyframes my_move{
	0%{top: 30px;opacity: 0;}
	100%{top: 0px;opacity: 1;}
}
@keyframes my_move1{
	0%{top: 226px;opacity: 0;}
	100%{top: 180px;opacity: 1;}
}
/*****************************************	主体第1部分	第3段		**********************************************************/
.y1_sec_3 {
	width: 1523px;
	height: 634px;
	padding: 30px;
    background-color: #fff;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.y1_sec_3_1 {
	width: 1523px;
	height: 634px;
	/*margin: 30px;*/
    position: relative;
}

#y1_sec_3_2{
	display: none;
}
#y1_sec_3_3{
	display: none;
}
.y1_sec_3_1 p{
	width: 1523px;
	height: 634px;
}

.y1_sec_3_1 div {
	position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height:100%;
    background-color: rgba(186,160,155,0.97);
}
.y1_sec_3_1 ul{
	position: absolute;
    top: 150px;
    left: 120px;
    width: 387px;
	animation: y1_sec_3_1_ul 3s;
	animation-fill-mode: forwards;
}
.y1_sec_3_1 li{
	color: white;
	width: 387px;
	height: 60px;
	opacity: 0;
	font-size: 20px;
	line-height: 60px;
	border-top: 1px solid rgba(255,255,255,0.2);
	animation: y1_sec_3_1_li 3s;
	animation-fill-mode: forwards;
}
.y1_sec_3_1 li:nth-of-type(1){
	height: 120px;
	font-size: 40px;
	margin-bottom: 20px;
	border-top:none
}
@keyframes y1_sec_3_1_ul{
	0%{top: 180px;}
	100%{top: 150px;}
}
@keyframes y1_sec_3_1_li{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
.y1_sec_3_2 div {
    background-color: rgba(244,162,170,0.97);
}
.y1_sec_3_3 div {
    background-color: rgba(87,195,197,0.97);
}
.y1_sec_3_4 {
	width: 1523px;
	height: 634px;
	margin: 30px;
    position: relative;
    background-color: rgba(255,255,255,0);
    display: none;
}
.y1_sec_3 a{
	width: 70px;
	height: 70px;
    /*border-radius: 35px;*/
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 999;
    background-image: url(../img/y1_sec_3_4_1.png);
    background-repeat: no-repeat;
}
.y1_sec_3 a:nth-of-type(1){
	left: 70px;
	background-position: 0px 0px;
}
.y1_sec_3 a:nth-of-type(2){
	right: 70px;
	background-position: -70px 0px;
}
/*****************************************	主体第1部分	第4段		**********************************************************/
.y1_sec_4 {
	width: 1583px;
	height: 1460px;
    overflow: hidden;
    margin: 0 auto;
    background:url(../img/y1_sec_4_1_1.jpg) no-repeat center 407px;
    background-color: #fff;
}
.y1_sec_4_1 {
	width: 1226px;
	height: 352px;
	margin: 0 auto;
	position: relative;
}
.y1_sec_4_1 ul{
	width: 1226px;
	height: 216px;
	top: 136px;
	position: absolute;
	animation: y1_sec_4_1_ul 3s;
	animation-fill-mode: forwards;
}
.y1_sec_4_1 li{
	text-align: center;
	animation: y1_sec_4_1_li 3s;
	animation-fill-mode: forwards;
}
.y1_sec_4_1 li:first-child{
	width: 1226px;
	font-size: 60px;
    line-height: 80px;
}
.y1_sec_4_1 li:last-child{
	width: 1226px;
	font-size: 24px;
    line-height:36px;
	margin-top: 20px;
}
@keyframes y1_sec_4_1_ul{
	0%{top: 166px;}
	100%{top: 136px;}
}
@keyframes y1_sec_4_1_li{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
/*****************************************	主体第1部分	第5段		**********************************************************/
.y1_sec_5 {
	width: 1583px;
	height: 1200px;
    overflow: hidden;
    margin: 0 auto;
    background:url(../img/y1_sec_5_1_1.jpg) no-repeat center center;
    background-color: #fff;
}
.y1_sec_5_1 {
	width: 1226px;
	height: 1116px;
	margin: 0 auto;
	position: relative;
}
.y1_sec_5_1 ul{
	width: 1226px;
	height:216px;
	top: 136px;
	position: absolute;
	animation: y1_sec_4_1_ul 3s;
	animation-fill-mode: forwards;
}
.y1_sec_5_1 ul li{
	color: white;
	text-align: center;
	animation: y1_sec_4_1_li 3s;
	animation-fill-mode: forwards;
}
.y1_sec_5_1 ul li:first-child{
	width: 1226px;
	font-size: 60px;
    line-height: 80px;
    
}
.y1_sec_5_1 ul li:last-child{
	width: 1226px;
	font-size: 24px;
    line-height:36px;
	margin-top: 20px;
}
.y1_sec_5_1 ol{
	width: 1083px;
	height:250px;
	margin: 0 auto ;
	position: absolute;
	bottom: 20px;
	color: white;
	text-align: center;
	animation: y1_sec_5_1_ol 3s;
	animation-fill-mode: forwards;
}
.y1_sec_5_1 ol{
	content: '';
	display: block;
	clear: both;
}
.y1_sec_5_1 ol li{
	color: white;
	text-align: center;
	float: left;
    display: inline;
    width: 248px;
    height: 103px;
    margin: 0 10px 20px;
    font-size: 30px;
    line-height: 103px;
    border: 1px solid #fff;
    border-radius: 5px;
	animation: y1_sec_4_1_li 3s;
	animation-fill-mode: forwards;
}
.y1_sec_5_1 ol li:first-child{
    width: 516px;
}
.y1_sec_5_1 ol li:nth-of-type(2),.y1_sec_5_1 ol li:nth-of-type(3){
	line-height: 36px;
	padding-top: 15px;
	height: 88px;
}
@keyframes y1_sec_5_1_ol{
	0%{bottom: -10px;}
	100%{bottom: 20px;}
}
/*****************************************	主体第1部分	第6段		**********************************************************/
.y1_sec_6 {
    background:url(../img/y1_sec_6_1_1.jpg) no-repeat center center;
}
.y1_sec_6_1 li {
    color: black;
}
/*****************************************	主体第1部分	第7段		**********************************************************/
.y1_sec_7 {
	width: 1583px;
	height: 1100px;
	background:url(../img/y1_sec_7_1_1.jpg) no-repeat center center;
	overflow: hidden;
}
.y1_sec_7_1 {
	width: 1226px;
	margin: 0 auto;
}
.y1_sec_7_1 ul {
	width: 1226px;
	height: 229px;
	margin-top: 320px;
	position: relative;
	animation: y1_sec_7_1_ul 3s;
	animation-fill-mode: forwards;

}
.y1_sec_7_1 ul li{
	width: 1226px;
	text-align: left;
	color: white;
	opacity: 0;
	animation: y1_sec_7_1_li 3s;
	animation-fill-mode: forwards;
}
.y1_sec_7_1 ul li:nth-of-type(1){
	font-size: 60px;
    line-height: 80px;
}
.y1_sec_7_1 ul li:nth-of-type(1) span{
	font-size: 20px;
}
.y1_sec_7_1 ul li:nth-of-type(2){
    font-size: 24px;
    margin-top: 20px;
}
.y1_sec_7_1 ol {
	width: 490px;
	/*height: 229px;*/
	margin-top: 75px;
	position: relative;
	animation: y1_sec_7_1_ul 3s;
	animation-fill-mode: forwards;
}
.y1_sec_7_1 ol:after{
	content: '';
	display: block;
	clear: both;
}
.y1_sec_7_1 ol li{
	height: 85px;
    padding-top: 15px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 30px;
	text-align: center;
	color: white;
	opacity: 0;
	animation: y1_sec_7_1_li 3s;
	animation-fill-mode: forwards;
}
.y1_sec_7_1 ol li span{
	font-size: 16px;
}
.y1_sec_7_1 ol li:nth-of-type(1){
	width: 488px;
}
.y1_sec_7_1 ol li:nth-of-type(2){
	width: 233px;
	float: left;
    margin-right: 20px;
}
.y1_sec_7_1 ol li:nth-of-type(3){
	width: 233px;
	float: right;
}
@keyframes y1_sec_7_1_ul{
	0%{top: 30px;}
	100%{top: 0px;}
}
@keyframes y1_sec_7_1_li{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
/*****************************************	主体第1部分	第8段		**********************************************************/
.y1_sec_8 {
	width: 1583px;
	height: 880px;
	background:url(../img/y1_sec_8_1_1.jpg) no-repeat center center;
	overflow: hidden;
}
.y1_sec_8_1 {
	width: 1226px;
	margin: 0 auto;
}
.y1_sec_8_1 ul {
	width: 1226px;
	height: 192px;
	margin-top: 130px;
	position: relative;
	animation: y1_sec_7_1_ul 3s;
	animation-fill-mode: forwards;

}
.y1_sec_8_1 ul li{
	width: 1226px;
	color: black;
	text-align: center;
	opacity: 0;
	animation: y1_sec_7_1_li 3s;
	animation-fill-mode: forwards;
}
.y1_sec_8_1 ul li:nth-of-type(1){
	font-size: 60px;
    line-height: 80px;
}
.y1_sec_8_1 ul li:nth-of-type(2){
    font-size: 24px;
    margin-top: 20px;
}
.y1_sec_8_1 ul li:nth-of-type(3){
    margin-top: 20px;
}
.y1_sec_8_1 ul li:nth-of-type(3) a{
	color: #2576ef;
    font-size: 24px;
    margin-top: 20px;
}
/*****************************************	主体第1部分	第9段		**********************************************************/
.y1_sec_9 {
	width: 1583px;
	height: 1000px;
	background:url(../img/y1_sec_9_1_1.jpg) no-repeat center 197px;
	background-color: white;
	overflow: hidden;
}
.y1_sec_9_1 {
	width: 1226px;
	margin: 0 auto;
}
.y1_sec_9_1 ul {
	width: 1226px;
	height: 90px;
	margin-top: 830px;
	position: relative;
	animation: y1_sec_7_1_ul 3s;
	animation-fill-mode: forwards;
}
.y1_sec_9_1 ul:after {
	content: '';
	display: block;
	clear: both;
}

.y1_sec_9_1 ul li{
	height: 90px;
	text-align: center;
	color: black;
	text-align: center;
	opacity: 0;
	padding: 0 37px;
	float: left;
	font-size: 30px;
	display: inline-block;
	animation: y1_sec_7_1_li 3s;
	animation-fill-mode: forwards;
}
.y1_sec_9_1 ul li:nth-of-type(1){
	width: 180px;
}
.y1_sec_9_1 ul li:nth-of-type(2){
	width: 210px;
  border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
}
.y1_sec_9_1 ul li:nth-of-type(3){
	width: 228px;
}
.y1_sec_9_1 ul li:nth-of-type(4) {
   	width: 90px;
  border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
}
.y1_sec_9_1 ul li:nth-of-type(5) {
   	width: 120px;
}
/*****************************************	主体第1部分	第9段		**********************************************************/
.y1_sec_10 {
	width: 1583px;
	height: 196px;
	background-color: #fafafa;
}
.y1_sec_10_1 {
	width: 1226px;
	margin: 0 auto;
}
.y1_sec_10_1:after{
	content: '';
	display: block;
	clear: both;
}
.y1_sec_10_1 ul{
	width: 613px;
	height: 100px;
	margin: 48px 0px;
	position: relative;
}
.y1_sec_10_1 ul:first-child {
	float: left;
}
.y1_sec_10_1 ul:last-child {
	float: right;
}
.y1_sec_10_1 li{
	display: inline-block;
	width: 380px;
	text-align: center;
}
.y1_sec_10_1 li:nth-of-type(1){
	width: 100px;
	height: 100px;
	margin: 0px 35px 0 30px;
}
.y1_sec_10_1 li:nth-of-type(1) img{
	vertical-align: auto;
}
.y1_sec_10_1 li:nth-of-type(2){
	position: absolute;
    font-size: 28px;
    top: 15px;
}
.y1_sec_10_1 li:nth-of-type(2) span:nth-of-type(1){
	color: #ff3333;
}
.y1_sec_10_1 li:nth-of-type(2) span:nth-of-type(2){
	font-size: 14px;
	/*font-family: "Microsoft Yahei";*/
}
    
